* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  letter-spacing: 0.01em;
  border-bottom: 0.1px solid #dadada;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  padding: 16px 16px 16px 0;
}

.logo-container img {
  width: 24px;
  cursor: pointer;
}

.logo-container img:hover {
  opacity: 70%;
}

.nav-links {
  align-items: flex-start;
  display: flex;
  list-style: none;
  margin: auto 0;
  padding: 10px 0px;
}

.nav-links li {
  display: block;
  margin: 0 10px;
  padding: 10px 0;
  white-space: nowrap;
}

.nav-link {
  text-decoration: none;
  padding: 5px 5px;
}

.nav-link:hover {
  text-decoration-line: underline;
}

.nav-link:visited {
  color: black;
}

.nav-links li img {
  width: 10px;
}

.sub-menu-1,
.sub-menu-2,
.sub-menu-3 {
  display: none;
}

.nav-links li:hover .sub-menu-1,
.nav-links li:hover .sub-menu-2,
.nav-links li:hover .sub-menu-3 {
  display: block;
  position: absolute;
  background: white;
  margin-top: 15px;
  padding: 10px 0 25px 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sub-menu-1 ul,
.sub-menu-2 ul,
.sub-menu-3 ul {
  list-style: none;
}

.nav-links li:hover .sub-menu-2,
.nav-links li:hover .sub-menu-3 {
  padding: 10px 0 10px 0;
}

.nav-links li:hover .sub-menu-1 ul li {
  width: 210px;
  padding: 15px 5px 15px 5px;
}
.nav-links li:hover .sub-menu-2 ul li {
  width: 210px;
  padding: 15px 5px 15px 5px;
}

.nav-links li:hover .sub-menu-3 ul li {
  width: 150px;
  padding: 10px 0px 15px 5px;
}

.sub-menu-2 i {
  font-size: 20px;
  padding: 0 15px 0 10px;
  color: rgb(121, 159, 209);
}

.sub-menu-1 a,
.sub-menu-2 a,
.sub-menu-3 a {
  text-decoration: none;
  color: #141518;
  font-weight: 400;
}

.sub-menu-1 span {
  display: block;
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: normal;
}

.nav-links li:hover .sub-menu-1 ul li:hover,
.nav-links li:hover .sub-menu-2 ul li:hover,
.nav-links li:hover .sub-menu-3 ul li:hover {
  background-color: rgb(246, 246, 246);
}

.right-col-nav-container {
  display: flex;
  align-items: center;
  width: 500px;
}

.search-box {
  display: flex;
  height: 33px;
  width: 100%;
  padding: 8px 12px;
  background: #f5f4f2;
  border-radius: 30px;
}

.search-box input {
  border: none;
  outline: none;
  background: #f5f4f2;
  height: 100%;
  width: 100%;
  padding: 1px 2px 1px 12px;
  letter-spacing: 0.01em;
}

.search-box i {
  color: #7a7a7a;
  font-size: 15px;
  text-align: center;
  padding: 2px 5px;
  cursor: pointer;
}

.login {
  flex-shrink: 0;
  display: block;
  text-align: center;
  padding: 0px 6px 0 18px;
}

.login-btn {
  text-decoration: none;
  color: rgb(44, 44, 44);
  padding: 5px 5px;
  align-items: center;
}

.login-btn:hover {
  text-decoration-line: underline;
}

.create-btn-wrap {
  padding-left: 18px;
}

.create-btn {
  height: 46px;
  width: 150px;
  border-radius: 30px;
  background: #ff484f;
  border: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  letter-spacing: 0.01em;
}

.create-btn:hover {
  background: white;
  color: #ff484f;
  border: 1px solid;
  border-color: #ff484f;
}

.burger {
  display: none;
}

.burger div {
  width: 24px;
  height: 1px;
  background-color: #7a7a7a;
  margin: 5px;
}

@media screen and (max-width: 1023px) {
  .header {
    display: flex;
  }

  .right-col-nav-container {
    flex-wrap: wrap;
    padding: 10px 0px 20px 10px;
    justify-content: flex-end;
  }

  .search-box {
    order: 2;
  }

  .login,
  .create-btn-wrap,
  .burger {
    padding-bottom: 10px;
    padding-left: 5px;
  }

  .create-btn-wrap {
    padding-left: 0;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .nav-links li {
    padding: 20px 0px;
  }

  .burger {
    display: block;
    padding-left: 15px;
  }
}

/* Intro SECTION */

.intro {
  background: #141518;
  margin-top: 50px;
}

.intro-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 400px) {
  .intro-wrap {
    flex-direction: column;
  }
}

.left-container {
  display: block;
  width: 50%;
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 0px 40px 100px 40px;
}

.right-container {
  display: block;
  width: 50%;
  box-sizing: border-box;
  padding: 100px 40px;
}

@media screen and (max-width: 400px) {
  .left-container {
    width: 92%;
    padding-bottom: 0;
  }
  .right-container {
    width: 100%;
    padding: 80px 40px 70px 40px;
  }
}

h1 {
  padding-top: 90px;
  font-size: 56px;
  font-weight: 700;
  text-align: left;
  color: #ff484f;
  line-height: 1.3;
}

.left-container p {
  color: rgb(226, 226, 226);
  text-align: left;
  font-size: 20px;
  padding: 15px 0px 30px 0;
  line-height: 1.8;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 72px;
    letter-spacing: 0.05rem;
  }
  .left-container p {
    padding: 15px 0px 30px 0px;
    font-weight: 300;
  }
}

.get-started-btn {
  height: 50px;
  width: 135px;
  border-radius: 30px;
  background: #ff484f;
  border: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

video {
  max-width: 100%;
}

/* The SECTION with a long search-box */

.search-section {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 50px 100px 50px;
}

@media screen and (max-width: 400px) {
  .search-section {
    max-width: 400px;
    padding: 50px 10px 50px 10px;
  }
}

.long-search-wrap {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .long-search-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
}

h2 {
  font-size: 2.625rem;
  text-align: center;
  font-weight: 600;
  color: #241e11;
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 26px;
  }
}

@media screen and (min-width: 401px) and (max-width: 960px) {
  h2 {
    font-size: 35px;
  }
}

.search-section h2 {
  font-size: 40px;
  padding: 0px 20px 50px 20px;
}

@media screen and (max-width: 400px) {
  .search-section h2 {
    font-size: 26px;
  }
}

.long-search-box {
  flex-grow: 1;
  display: flex;
  margin: 0 auto;
  height: 50px;
  line-height: 35px;
  padding: 8px 12px;
  background: #f5f4f2;
  border-radius: 30px;
  width: 920px;
}

.long-search-box input {
  border: none;
  outline: none;
  background: #f5f4f2;
  width: 100%;
  padding: 1px 2px 1px 12px;
  letter-spacing: 0.1;
  font-size: 18px;
}

@media screen and (max-width: 400px) {
  .long-search-box {
    width: 100%;
    margin-bottom: 10px;
  }
  .long-search-box input {
    width: 100%;
  }
}

.long-search-box i {
  margin: 8px 0px;
  color: #7a7a7a;
  font-size: 15px;
  padding: 2px 5px;
  cursor: pointer;
}

.search-btn-wrap {
  padding: 0px 0px 0px 20px;
}

.search-btn {
  height: 50px;
  width: 105px;
  border-radius: 30px;
  background: #ff484f;
  border: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .search-btn-wrap {
    width: 100%;
    padding: 0;
  }
  .search-btn {
    width: 100%;
  }
}

/* "What's Patreon?" SECTION */

.whats-patreon {
  display: block;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 50px;
}

.whats-patreon h2 {
  margin: 0px 0px 20px 0px;
}

.whats-patreon p {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 2;
  padding: 0px 10px 64px 10px;
}

@media screen and (max-width: 400px) {
  .whats-patreon {
    max-width: 400px;
    padding: 0 30px;
  }
  .whats-patreon p {
    font-size: 18px;
    padding-bottom: 90px;
  }
}

/* Feedbacks SECTION */

.feedback-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex: wrap;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 80px;
}

.feedback-container:nth-child(2n + 1) {
  flex-direction: row;
}

@media screen and (max-width: 400px) {
  .feedback-container {
    flex-direction: column;
    padding: 0 8px 40px 8px;
    width: 100%;
  }
  .feedback-container:nth-child(2n + 1) {
    flex-direction: column;
  }
}

.description-1 {
  display: block;
  width: 50%;
  padding: 0 8px;
}

@media screen and (max-width: 400px) {
  .description-1 {
    width: 100%;
    padding: 0;
  }
}

.short {
  font-size: 34px;
  line-height: 1.25;
  font-weight: 500;
  color: #ff424d;
}

.long {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.5;
  margin-top: 10px;
}

@media screen and (max-width: 400px) {
  .short {
    font-size: 24px;
  }
  .long {
    padding-bottom: 25px;
  }
}

.feedback {
  display: block;
  box-sizing: border-box;
  width: 50%;
}

@media screen and (max-width: 400px) {
  .feedback {
    width: 100%;
  }
}

.name-wrap {
  display: block;
  padding: 10px 0px 20px 8px;
}

@media screen and (max-width: 400px) {
  .name-wrap {
    padding: 0px 0px 10px 0px;
  }
}

.name-wrap a {
  text-decoration: none;
  color: #141518;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px 5px 0px;
}

.name-wrap a:hover {
  text-decoration: underline #ff424d;
}

.name-wrap p {
  font-weight: 300;
  font-size: 14px;
  padding-top: 5px;
}

.portrait {
  width: 100%;
  padding: 0 8px;
}

@media screen and (max-width: 400px) {
  .portrait {
    padding: 0px;
    padding-bottom: 5px;
  }
}

.opinion-p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  padding-left: 8px;
  padding-bottom: 80px;
}

@media screen and (max-width: 400px) {
  .opinion-p {
    padding: 10px 0px 30px 0px;
  }
}

/* Who uses Patreon? SECTION*/

.who-uses-container {
  display: block;
  max-width: 1140px;
  margin: 0 auto;
}

.who-uses-container p {
  font-size: 20px;
  font-weight: 300;
  box-sizing: border-box;
  line-height: 2;
  padding: 20px 0px 0px 0px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .who-uses-container p {
    font-size: 1.1rem;
    padding-top: 20px;
  }
}

.who-uses-container .content-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 64px 90px 64px;
}

@media screen and (max-width: 400px) {
  .who-uses-container .content-wrap {
    flex-direction: column-reverse;
    padding: 20px 10px 50px 10px;
  }
}

.who-uses-container .left-col {
  display: block;
  width: 50%;
}

.who-uses-container .left-col img {
  width: 100%;
  padding: 0 8px;
}

@media screen and (max-width: 400px) {
  .who-uses-container .left-col {
    width: 100%;
    padding: 0 20px;
  }
}

.right-col {
  display: flex;
  justify-content: center;
  width: 50%;
  box-sizing: border-box;
  padding: 0 8px;
}

@media screen and (max-width: 400px) {
  .right-col {
    width: 100%;
    margin: 0;
    margin-bottom: 24px;
    padding-top: 30px;
  }
}

.professions-list {
  list-style: none;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 400px) {
  .professions-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    font-size: 21px;
    line-height: 1.2rem;
    padding-bottom: 10px;
  }
}

.professions-list a {
  text-decoration: none;
  cursor: pointer;
  color: #a7a7a7;
}

.professions-list a:hover {
  text-decoration: underline;
  color: #131313;
}

@media screen and (max-width: 400px) {
  .professions-list li {
    padding: 10px 10px;
  }
}

/* It's easier than you think SECTION */

.its-easier-container {
  display: block;
  max-width: 1140px;
  margin: 0 auto;
}

.inner-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 48px;
}

@media screen and (max-width: 400px) {
  .its-easier-container {
    width: 100%;
    padding: 0 24px;
  }
  .inner-container {
    padding: 50px 16px 0px 16px;
  }
}

.its-easier-container h2 {
  padding-bottom: 30px;
  font-weight: 700;
}

@media screen and (max-width: 400px) {
  .inner-container h2 {
    padding-bottom: 20px;
  }
}

.inner-container p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  padding-bottom: 60px;
}

.inner-container img {
  width: 100%;
  box-shadow: 10px 15px 60px 1px #dadada;
  border-radius: 3px;
}

@media screen and (max-width: 400px) {
  .inner-container p {
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
  }
}

/* Other Creators SECTION */

.other-creators {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.other-creators .content-wrap {
  display: flex;
  flex-direction: row;
  max-width: 1290px;
  justify-content: center;
  box-sizing: border-box;
  align-items: flex-start;
  padding-bottom: 120px;
}

@media screen and (max-width: 400px) {
  .other-creators .content-wrap {
    flex-direction: column;
    padding: 0px 25px;
  }
}

.h2-container h2 {
  padding: 100px 40px 50px 40px;
}

.column-1,
.column-2,
.column-3 {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  box-sizing: border-box;
  padding: 0 30px 80px 30px;
}

@media screen and (max-width: 400px) {
  .column-1,
  .column-2,
  .column-3 {
    box-sizing: border-box;
    width: 100%;
  }
}

.other-creators img {
  max-width: 100%;
  padding-bottom: 10px;
}

h5 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.column-1 p,
.column-2 p,
.column-3 p {
  font-weight: 200;
  color: rgb(105, 105, 105);
  line-height: 1.5;
  letter-spacing: normal;
  padding-bottom: 20px;
}

.column-1 a,
.column-2 a,
.column-3 a {
  font-weight: 300;
  color: #131313;
}

/* Are you Ready SECTION */

.are-you-ready .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 100px 40px;
  background: #fafafa;
}

@media screen and (max-width: 400px) {
  .are-you-ready .content-wrap {
    width: 400px;
    padding: 50px 40px 70px 40px;
  }
  .are-you-ready .content-wrap h2 {
    font-size: 35px;
  }
}

.are-you-ready .content-wrap h2 {
  padding-bottom: 10px;
}

.are-you-ready .btn-container {
  margin: 25px 0 35px 0;
}

/* Footer */

.footer-container {
  background-color: #141518;
}

.footer {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  flex-direction: column;
  padding: 40px 40px 24px 40px;
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 24px 24px 8px 24px;
  }
}

.footer-content-wrap {
  background-color: #141518;
  color: #f5f4f2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 32px 8px 16px 8px;
}

/* @media screen and (max-width: 400px) {
  .footer-heading {
  flex: 0 0 50%;
  }
} */

.footer-heading span {
  margin-bottom: 1.5rem;
  font-size: 10px;
  font-weight: 500;
}

.footer-heading a {
  color: #d4d4d4;
  text-decoration: none;
  margin-bottom: 0.4rem;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
}

.footer-heading a:hover {
  text-decoration: underline;
}

.options {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 8px 0 8px;
  flex: 4;
}

.footer-1 {
  flex: 2;
}

.options img {
  width: 32px;
  padding-bottom: 10px;
}

.language-btn,
.country-btn,
.currency-btn {
  height: 46px;
  width: 170px;
  background: #141518;
  border: 2px solid;
  border-radius: 4px;
  text-align: center;
  color: #f5f4f2;
  font-size: 14px;
  letter-spacing: 0.01em;
  margin: 4px 0;
  cursor: pointer;
}

.icons-container {
  flex-basis: 100%;
  padding-bottom: 16px;
}

.icons-container i {
  font-size: 36px;
  color: #ececec;
  padding: 0 5px;
}
.icons-container i:hover {
  color: #9e9e9e;
  transition: all 300ms;
  cursor: pointer;
}

.contacts-container {
  display: block;
  max-width: 550px;
  font-weight: 300;
  font-size: 0.875rem;
  letter-spacing: 0.03em;
  line-height: 1.5;
  color: #d4d4d4;
  padding-top: 15px;
}

.contacts-container span {
  padding-right: 10px;
}

.contacts-container button {
  background: #141518;
  color: #d4d4d4;
  border: none;
  cursor: pointer;
}

.contacts-container button:hover {
  text-decoration: underline;
  transition: all 300ms;
}

.address {
  max-width: 40%;
  padding: 15px 0px;
}
