* {
  margin: 0;
  padding: 0;
  box-sizing: borer-box;
}

body {
  font-family: "Rubik", sans-serif;
}

header {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  background: lemonchiffon;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  letter-spacing: 0.01em;
}

.logo-container img {
  width: 24px;
  cursor: pointer;
  padding: 0px 10px 0px 0px;
}

nav {
  display: flex;
  width: 100%;
}

.nav-links {
  align-items: flex-start;
  display: flex;
  list-style: none;
  margin: auto 0;
  padding: 25px 0px;
}

.nav-links li {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  padding: 5px 5px;
}

.nav-link:hover {
  text-decoration-line: underline;
}

.nav-link:visited {
  color: black;
}

.nav-links li img {
  width: 10px;
}

/* .nav-links li {

} */

.search-box {
  display: flex;
  margin: auto 0;
  height: 18px;
  line-height: 35px;
  padding: 8px 12px;
  background: #f5f4f2;
  border-radius: 30px;
}

.search-box input {
  border: none;
  outline: none;
  background: #f5f4f2;
  height: 100%;
  width: 210px;
  padding: 1px 2px 1px 12px;
  letter-spacing: 0.01em;
}

.search-box i {
  color: #7a7a7a;
  font-size: 15px;
  text-align: center;
  padding: 2px 5px;
  cursor: pointer;
}

.login-container {
  display: flex;
  margin: auto 0;
  width: 400px;
}

.login {
  display: flex;
  margin: 0px 10px;
  min-width: 70px;
  align-items: center;
  justify-content: center;
}

.login-btn {
  text-decoration: none;
  color: black;
  padding: 5px 5px;
  align-items: center;
}

.login-btn:hover {
  text-decoration-line: underline;
}

.create-btn {
  height: 46px;
  width: 150px;
  border-radius: 30px;
  background: #ff484f;
  border: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.create-btn:hover {
  background: white;
  color: #ff484f;
  border: 1px solid;
  border-color: #ff484f;
}
